<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>

		<add key ="FilePath" value="F:\Studying\C#\TournamentProject\Data"/>
		<add key ="GreaterWins" value="greater"/>
		<add key ="SenderEmail" value="Myemail@gmail.com"/>
		<add key ="SenderName" value="TournamentTracker"/>

	</appSettings>

	<connectionStrings>
		<add name="TournamentConnectionString" connectionString="Server=localhost; Database=tournament; User id=root; Password=tota;"/>
	</connectionStrings>

	<!--<system.net>
		<mailSettings>
			<smtp deliveryMethod ="Network">
				<network host = "127.0.0.1" userName= "Test" password= "Testing" port= "25" enableSsl ="false" />
			</smtp>
		</mailSettings>
	</system.net>-->

</configuration>